# Include documentation
include README.rst

# Include configuration files
include pyproject.toml

# Include type information
include medspacy_io/py.typed

# Include version file
include medspacy_io/version.py